.movie-details-wrapper {
    color: white;
    margin: auto;
    cursor: default;
}
.movie-details-wrapper .movie-details-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
.movie-details-wrapper .movie-details-title h1 {
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}
.movie-details-wrapper img.movie-details-backdrop {
    opacity: 0.1;
    min-height: 100%;
    min-width: 1280px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.movie-details-wrapper .movie-details-poster-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-items: center;
}
.movie-details-wrapper .movie-details-poster-wrapper .movie-details-poster {
    border-radius: 1px;
    border: solid #847f86 10px;
}
.movie-details-wrapper .movie-details-poster-wrapper .movie-details-info {
    grid-row: 0.6666666667;
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 90%;
    background: rgba(255, 166, 0, 0.472);
    padding: 20px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 16px;
    overflow: visible;
}
.movie-details-wrapper .movie-details-poster-wrapper .movie-details-info a:link,
a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
}

.movie-details-wrapper
    .movie-details-poster-wrapper
    .movie-details-info
    a:hover,
a:active {
    color: #000000;
    text-align: center;
    text-decoration: underline;
}

@media only screen and (max-width: 549px) {
    .movie-details-wrapper h1 {
        width: 80%;
        font-size: 28px;
        margin-right: 20px;
    }
    .movie-details-wrapper .movie-details-poster-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .movie-details-wrapper .movie-details-poster-wrapper .movie-details-poster {
        width: 300px;
        margin: 20px 0;
        overflow-y: scroll;
    }
    .movie-details-wrapper .movie-details-poster-wrapper .movie-details-info {
        width: calc(100% - 80px);
        min-width: 300px;
        min-height: 300px;
        margin: 20px 0;
    }
}
@media only screen and (min-width: 550px) and (max-width: 1089px) {
    .movie-details-wrapper .movie-details-poster-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .movie-details-wrapper .movie-details-poster-wrapper .movie-details-poster {
        margin: 20px 0;
    }
    .movie-details-wrapper .movie-details-info {
        width: calc(100% - 250px);
        min-width: 500px;
        margin: 20px 0;
        min-height: 300px;
        overflow-y: hidden;
    }
}
@media only screen and (min-width: 1090px) {
    .movie-details-wrapper {
        max-width: 1500px;
    }
}

.movie-details-wrapper .related-movies {
    display: grid;
    grid-row: 3;
    grid-column: 1 / 3;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}
