.cast_member {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    margin-right: 10px;

    padding: 5px;
    border-radius: 2px;
    background: white;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@media only screen and (min-width: 480px) {
    .cast_member {
        width: calc(33.33% - 10px);
    }
}
@media only screen and (min-width: 992px) {
    .cast_member {
        width: calc(20% - 10px);
    }
}

.cast_name {
    font-size: 13px;
    margin-bottom: 0;
    color: black;
}
.cast_member img {
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
}

.cast_character {
    color: black;
}
