.cast_member {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
}
@media only screen and (min-width: 480px) {
    .cast_member {
        width: calc(33.33% - 10px);
    }
}
@media only screen and (min-width: 992px) {
    .cast_member {
        width: calc(20% - 10px);
    }
}

.cast_name {
    font-size: 13px;
    margin-bottom: 0;
    color: #ffffff;
}
.cast_member img {
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
    border-radius: 50%;
}

.cast_character {
    color: #ffffff;
    font-size: 14px;
}

.movie-details-wrapper .movie-details-cast {
    margin-top: 20px;
    display: flex;
    text-align: center;
}
