.Searchbar {
  max-width: 70%;
  width: 70%;
  margin: 0 auto;
  position: relative;
  font: bold 13px sans-serif;
}

.Searchbar input{
  max-width: 90%;
  width: 100%;
  box-sizing: border-box;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-color:  #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 15px;
  border: 1px solid #b6c3cd;;
  border-right: 0;
  color:#4E565C;
  outline: none;
  -webkit-appearance: none;
}

.Searchbar .searchResults {
  position: relative;
  max-width: 90%;
  width: 100%;
  background: #111;
  border-top: none;
  box-sizing: border-box;
  max-height: 200px;
  overflow: auto;
  -webkit-appearance: none;
}
.Searchbar .searchResults ul {
  padding: 0px;
  margin: 0px;
}
.Searchbar .searchResults ul li {
  color: #fff;
  list-style: none;
  cursor: pointer;
  display: block;
  line-height: 40px;
  border-bottom: 1px solid #eaeaea;
}
.Searchbar .searchResults ul li:hover {
  color:#111;
  background: #fff;
}

.Searchbar .searchResults ul li img{
width: 60px;
}